In [15]:
"""
This is the weather processing script for UK. To use for Germany, Netherlands replace 'uk' with 'germany' or 'netherlands'
"""

"\nThis is the weather processing script for UK. To use for Germany, Netherlands replace 'uk' with 'germany' or 'netherlands'\n"

In [16]:
import pandas as pd
from datetime import *
import yaml

In [17]:
# get the path to the config.yml file
path = os.getcwd()
configfile_2 = 'config.yml'
file_path = os.path.join(path,configfile_2)

In [18]:
# read in the config file
with open(file_path, 'r') as file:
    data_config = yaml.safe_load(file)

In [19]:
# True or False
bought_input_data=False

In [20]:
# Load the input dataset
country_data = data_config['uk_weather_data'] # change for germany and netherlands

weather_data=data_config['input_data'] + country_data
data = pd.read_csv(weather_data)
data.tail()

                             dt   temp
1794  2022-03-30 12:00:00+00:00   7.24
1795  2022-03-30 15:00:00+00:00   5.01
1796  2022-03-30 18:00:00+00:00   3.50
1797  2022-03-29 18:00:00+00:00   7.35
1798  2022-03-28 18:00:00+00:00  13.42

In [21]:
if bought_input_data==True:
    df=data.copy()
    df['dt_iso']=df['dt']
    df['dt_iso'] = df['dt_iso'].apply(lambda x: pd.to_datetime(str(x).split(' ')[0], format='%Y-%m-%d'))
    df = df.groupby('dt_iso').aggregate('mean')
    df['year-week'] = pd.Series(df.index).apply(lambda x: str(x.year)+"-"+str(x.week).zfill(2)).values
    print(df)

else:
    df=data.copy()
    df['dt_iso']=df['dt']

    # create new columns for mean, max and avg and combine them all

    df['dt_iso'] = df['dt_iso'].apply(lambda x: pd.to_datetime(str(x).split(' ')[0], format='%Y-%m-%d'))
    df_min=df.groupby('dt_iso').min().rename(columns = {'temp':'temp_min'}).drop(['dt'], axis=1)
    df_max=df.groupby('dt_iso').max().rename(columns = {'temp':'temp_max'}).drop(['dt'], axis=1)
    df_mean=df.groupby('dt_iso').aggregate('mean')
    df=pd.concat([df_mean,df_min,df_max],axis=1)

    # extract the week and month of the year
    
    df['year-week'] = pd.Series(df.index).apply(lambda x: str(x.year)+"-"+str(x.week).zfill(2)).values
    df["week_ending"] = pd.Series(df.index).apply(lambda x: x - timedelta(days=x.dayofweek)).values
    print(df.tail(50))

                 temp  temp_min  temp_max year-week week_ending
dt_iso
2022-01-26   0.766000      0.30      1.72   2022-04  2022-01-24
2022-01-27   5.495000      3.12      7.71   2022-04  2022-01-24
2022-01-28   5.162500      2.07      7.82   2022-04  2022-01-24
2022-01-29   9.066667      5.58     12.41   2022-04  2022-01-24
2022-01-30   2.454000      0.12      5.75   2022-04  2022-01-24
2022-01-31   5.580000      4.83      6.77   2022-05  2022-01-31
2022-02-01  12.440000     12.44     12.44   2022-05  2022-01-31
2022-02-02   9.443333      8.47      9.95   2022-05  2022-01-31
2022-02-03   7.270000      7.27      7.27   2022-05  2022-01-31
2022-02-04   1.730000      1.73      1.73   2022-05  2022-01-31
2022-02-05   4.343333      1.64      8.04   2022-05  2022-01-31
2022-02-06   7.610000      7.14      8.29   2022-05  2022-01-31
2022-02-07   2.916667      2.10      3.91   2022-06  2022-02-07
2022-02-08   9.784000      7.88     11.76   2022-06  2022-02-07
2022-02-09   7.820000      7.58      8.06   2022-06  2022-02-07
2022-02-11   0.370000      0.37      0.37   2022-06  2022-02-07
2022-02-12   5.627500      2.04      7.77   2022-06  2022-02-07
2022-02-13   7.280000      7.06      7.50   2022-06  2022-02-07
2022-02-15   1.680000      1.68      1.68   2022-07  2022-02-14
2022-02-16  12.465000     11.58     13.35   2022-07  2022-02-14
2022-02-17   5.740000      5.74      5.74   2022-07  2022-02-14
2022-02-18   9.860000      9.86      9.86   2022-07  2022-02-14
2022-02-19   3.440000      2.23      4.65   2022-07  2022-02-14
2022-02-20   6.490000      3.55      9.43   2022-07  2022-02-14
2022-02-23   5.390000      2.70      8.08   2022-08  2022-02-21
2022-02-24   3.293333      2.47      4.30   2022-08  2022-02-21
2022-02-25   5.423333      3.28      9.42   2022-08  2022-02-21
2022-02-26   0.380000      0.38      0.38   2022-08  2022-02-21
2022-02-27   3.155000      0.62     10.42   2022-08  2022-02-21
2022-02-28   6.390000      6.39      6.39   2022-09  2022-02-28
2022-03-02   5.495000      5.34      5.65   2022-09  2022-02-28
2022-03-03   8.395000      7.69      9.10   2022-09  2022-02-28
2022-03-05   4.265000      4.21      4.32   2022-09  2022-02-28
2022-03-10  12.720000     12.07     13.37   2022-10  2022-03-07
2022-03-14   7.170000      7.17      7.17   2022-11  2022-03-14
2022-03-15   8.705000      3.14     14.27   2022-11  2022-03-14
2022-03-17   1.540000      1.54      1.54   2022-11  2022-03-14
2022-03-19  10.710000      4.33     14.38   2022-11  2022-03-14
2022-03-20   4.150000      2.09      6.21   2022-11  2022-03-14
2022-03-21  -0.195000     -0.66      0.39   2022-12  2022-03-21
2022-03-22  17.064000     16.11     17.99   2022-12  2022-03-21
2022-03-23  15.375714      5.83     18.45   2022-12  2022-03-21
2022-03-24  14.645000     11.98     16.83   2022-12  2022-03-21
2022-03-25  16.620000     16.62     16.62   2022-12  2022-03-21
2022-03-26  17.030000     17.03     17.03   2022-12  2022-03-21
2022-03-28  13.420000     13.42     13.42   2022-13  2022-03-28
2022-03-29   7.350000      7.35      7.35   2022-13  2022-03-28
2022-03-30   5.127500      3.50      7.24   2022-13  2022-03-28
2022-03-31   0.458000     -0.39      1.18   2022-13  2022-03-28
2022-04-01   0.051667     -0.43      0.55   2022-13  2022-03-28

In [22]:
# # Added

# df=data.copy()
# df['dt_iso']=df['dt']

# # create new columns for mean, max and avg and combine them all

# df['dt_iso'] = df['dt_iso'].apply(lambda x: pd.to_datetime(str(x).split(' ')[0], format='%Y-%m-%d'))
# df_min=df.groupby('dt_iso').min().rename(columns = {'temp':'temp_min'}).drop(['dt'], axis=1)
# df_max=df.groupby('dt_iso').max().rename(columns = {'temp':'temp_max'}).drop(['dt'], axis=1)
# df_mean=df.groupby('dt_iso').aggregate('mean')
# df=pd.concat([df_mean,df_min,df_max],axis=1)


# df['year-week'] = pd.Series(df.index).apply(lambda x: str(x.year)+"-"+str(x.week).zfill(2)).values
# df

In [23]:
df['week_ending'].values

array(['2021-09-06T00:00:00.000000000', '2021-09-06T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-09-13T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-09-13T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-09-13T00:00:00.000000000',
       '2021-09-13T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-20T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-20T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-20T00:00:00.000000000', '2021-09-20T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-09-27T00:00:00.000000000',
       '2021-09-27T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2021-10-04T00:00:00.000000000', '2021-10-04T00:00:00.000000000',
       '2021-10-11T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-11T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-11T00:00:00.000000000', '2021-10-11T00:00:00.000000000',
       '2021-10-11T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-10-18T00:00:00.000000000', '2021-10-18T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-10-25T00:00:00.000000000',
       '2021-10-25T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-11-01T00:00:00.000000000', '2021-11-01T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-08T00:00:00.000000000',
       '2021-11-08T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-15T00:00:00.000000000', '2021-11-15T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-11-22T00:00:00.000000000',
       '2021-11-22T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-11-29T00:00:00.000000000', '2021-11-29T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-06T00:00:00.000000000',
       '2021-12-06T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-13T00:00:00.000000000', '2021-12-13T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2021-12-20T00:00:00.000000000', '2021-12-20T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2021-12-27T00:00:00.000000000',
       '2021-12-27T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2022-01-03T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-10T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-17T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-24T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-01-31T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-07T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-02-14T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-21T00:00:00.000000000', '2022-02-21T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-02-28T00:00:00.000000000',
       '2022-02-28T00:00:00.000000000', '2022-02-28T00:00:00.000000000',
       '2022-03-07T00:00:00.000000000', '2022-03-14T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-03-14T00:00:00.000000000',
       '2022-03-14T00:00:00.000000000', '2022-03-14T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-21T00:00:00.000000000', '2022-03-21T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-28T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-28T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000'], dtype='datetime64[ns]')

In [24]:
# summarise by week_ending rather than week of year
# df = df.groupby(['year-week','week_ending'], sort=False).aggregate('mean')
df = df.groupby(['week_ending'], sort=False).aggregate('mean')
df

                  temp   temp_min   temp_max
week_ending
2021-09-06   17.093893  13.210000  20.160000
2021-09-13   15.542894  11.935714  19.597143
2021-09-20   15.492096  11.081429  21.001429
2021-09-27   11.238248   7.695714  14.744286
2021-10-04   12.578371  10.100000  15.958571
2021-10-11   10.925891   8.091429  14.717143
2021-10-18   11.271028   8.930000  13.615714
2021-10-25   11.211859   9.147143  13.470000
2021-11-01    6.296697   4.254000  10.230000
2021-11-08   10.000446   8.611429  11.861429
2021-11-15    7.795538   6.364286   9.942857
2021-11-22    3.143259   1.294286   5.751429
2021-11-29    3.456541   1.321429   6.295714
2021-12-06    4.991461   3.420000   7.221429
2021-12-13    7.842143   6.892857   8.594286
2021-12-20    4.460028   3.453333   5.643333
2021-12-27   10.221905   8.988571  11.737143
2022-01-03    2.373181   0.942857   4.592857
2022-01-10    2.292087   0.740000   5.757143
2022-01-17    2.131555   0.321667   5.211667
2022-01-24    3.903071   2.094286   5.857143
2022-01-31    6.916667   6.217143   7.784286
2022-02-07    5.633028   4.505000   6.561667
2022-02-14    6.612500   5.773333   7.451667
2022-02-21    3.528333   1.890000   6.520000
2022-02-28    6.136250   5.907500   6.365000
2022-03-07   12.720000  12.070000  13.370000
2022-03-14    6.455000   3.654000   8.714000
2022-03-21   13.423286  11.151667  14.551667
2022-03-28    5.281433   4.690000   5.948000

In [25]:
# save the output
arg='processed_' + country_data
filename1 = datetime.now().strftime("%Y-%m-%d") + "_" + str(arg)
df[["temp_min", "temp_max", "temp"]].to_csv("../data/"+filename1)

In [26]:
# temp is avg temperature for the week
# temp_min is lowest temp for the week
# temp_max is highest temp for the week

df[["temp_min", "temp_max", "temp"]]

              temp_min   temp_max       temp
week_ending
2021-09-06   13.210000  20.160000  17.093893
2021-09-13   11.935714  19.597143  15.542894
2021-09-20   11.081429  21.001429  15.492096
2021-09-27    7.695714  14.744286  11.238248
2021-10-04   10.100000  15.958571  12.578371
2021-10-11    8.091429  14.717143  10.925891
2021-10-18    8.930000  13.615714  11.271028
2021-10-25    9.147143  13.470000  11.211859
2021-11-01    4.254000  10.230000   6.296697
2021-11-08    8.611429  11.861429  10.000446
2021-11-15    6.364286   9.942857   7.795538
2021-11-22    1.294286   5.751429   3.143259
2021-11-29    1.321429   6.295714   3.456541
2021-12-06    3.420000   7.221429   4.991461
2021-12-13    6.892857   8.594286   7.842143
2021-12-20    3.453333   5.643333   4.460028
2021-12-27    8.988571  11.737143  10.221905
2022-01-03    0.942857   4.592857   2.373181
2022-01-10    0.740000   5.757143   2.292087
2022-01-17    0.321667   5.211667   2.131555
2022-01-24    2.094286   5.857143   3.903071
2022-01-31    6.217143   7.784286   6.916667
2022-02-07    4.505000   6.561667   5.633028
2022-02-14    5.773333   7.451667   6.612500
2022-02-21    1.890000   6.520000   3.528333
2022-02-28    5.907500   6.365000   6.136250
2022-03-07   12.070000  13.370000  12.720000
2022-03-14    3.654000   8.714000   6.455000
2022-03-21   11.151667  14.551667  13.423286
2022-03-28    4.690000   5.948000   5.281433